.ItemBox {
  width: 100px;
  height: 100px;
  background: #292929;
  border: 1px solid #333333;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}

.ItemBox-selected {
  border: 1px solid gold;
}
