.ItemBox {
  width: 100px;
  height: 100px;
  background: #e9ecef;
  border: 1px solid #666666;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.ItemBox-selected {
  border: 1px solid gold;
}
